@tailwind base;
@tailwind components;
@tailwind utilities;

.slider {
	position: relative;
	width: 100%;
	height: 100%;
}

.slider .el {
	width: 100%;
	height: 100%;
}

.slider .el:hover .perspectiveText {
	transform: rotateX(90deg);
}

.slider .el:hover .perspectiveText p:nth-of-type(1) {
	transform: translateY(-100%);
	opacity: 0;
}

.slider .el:hover .perspectiveText p:nth-of-type(2) {
	opacity: 1;
}

.perspectiveText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	transform-style: preserve-3d;
	transition: transform 0.75s cubic-bezier(0.76, 0, 0.24, 1);
	cursor: pointer;
}

.perspectiveText p {
	transition: all 0.75s cubic-bezier(0.76, 0, 0.24, 1);
	pointer-events: none;
	text-transform: uppercase;
	font-size: 50px;
}

.perspectiveText p:nth-of-type(2) {
	position: absolute;
	transform-origin: bottom center;
	transform: rotateX(-90deg) translateY(12px);
	opacity: 0;
}
